.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* .logo-header .title {
  justify-content: end;
} */

.title {
  text-align: initial;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App * {
  display: flex;
  padding: 1rem;
  border: 1px solid forestgreen;
}

.logo-header {
  justify-content: space-between;
  border-style: solid;
  border-color: blueviolet;
  border-width: 0px 0px 3px 0px;
}

.logo-header * {
  padding: 0;
}

.search {
  justify-content: center;
}

.search * {
  padding: initial;
}

.weather-info-container {
  justify-content: center;
}

.weather-info {
  width: 80vw;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
}

.today-sky {
  justify-content: center;
}

.week-forecast {
  justify-content: space-between;
  flex-wrap: wrap;
}

.day-forecast {
  flex-direction: column;
  border: 1px solid royalblue;
  padding: 0;
}

.city-forecast {
  padding: 1rem;
  justify-content: space-between;
}

.city-weather {
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media only screen and (max-width: 400px) {
  /* body {
    background-color: lightblue;
  } */
  .week-forecast {
    justify-content: flex-start;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
